@roboto:			roboto;
@roboto-light:		robotolight;
@roboto-bold:		robotobold;
@roboto-med:		robotomedium;
@roboto-ital:		robotoitalic;
@roboto-cons:		roboto;
@roboto-cons-bold:	robotocondensedbold;
@din-black:			roboto;

@icon: 				Flaticon;
.include-custom-font(@family: @roboto, @weight: normal, @style: normal){
	@font-face{			
		font-family: "@{family}";			
		src:url('@{url-path-fonts}/@{family}.woff') format('woff');
		font-weight: @weight;
		font-style: @style;		
	}
}
/*roboto*/
.include-custom-font(@family: @roboto, 			@weight: normal, @style: normal);
.include-custom-font(@family: @roboto-bold, 	@weight: normal, @style: normal);
.include-custom-font(@family: @roboto-light, 	@weight: normal, @style: normal);
.include-custom-font(@family: @roboto-ital, 	@weight: normal, @style: normal);
.include-custom-font(@family: @roboto-med, 		@weight: normal, @style: normal);
/*end's roboto*/
/*roboto-cons*/
.include-custom-font(@family: @roboto-cons-bold, @weight: normal, @style: normal);
/*end's roboto-cons*/
.include-custom-font(@family: @icon, 			@weight: normal, @style: normal);

@icon-arrow-left: 	"\f100";
@icon-arrow-right: 	"\f101";
@icon-back: 		"\f102";
@icon-close: 		"\f103";
@icon-fb: 			"\f104";
@icon-minus: 		"\f105";
@icon-next: 		"\f106";
@icon-ok: 			"\f107";
@icon-plus: 		"\f108";
@icon-search: 		"\f109";
@icon-tw: 			"\f10a";
@icon-vk: 			"\f10b";