.btn-site{
	display: inline-block;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
	transition: @transition-site;
	&:focus,
	&:hover{
		text-decoration: none;
	}
	&:focus{
		color: inherit;
	}
}